<% bookCoverClass = locals.large ? 'manga-cover-large' : '' %> <% bookGridClass
= locals.large ? 'manga-grid-large' : '' %>
<div class="manga-grid <%= bookGridClass %>">
  <% mangas.forEach(manga => { %>
  <a href="/mangas/<%= manga.id %>">
    <img
      class="manga-cover <%= bookCoverClass %>"
      src="<%= manga.coverImagePath %>"
    />
  </a>
  <% }) %>
</div>
